{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title_text %}sh8.email{% endblock %}</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'web/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="{% static 'web/bootstrap/css/bootstrap-custom.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {% block extra_css %}{% endblock %}

  <!-- jquery -->
  <script src="{% static 'web/jquery/jquery-2.1.4.min.js' %}"></script>

  <!-- bootstrap js -->
  <script src="{% static 'web/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Internal js components -->
  <script type="text/javascript" src="{% static 'web/js/forms.js' %}"></script>

  <!-- google analysis -->
  <script src="{% static 'web/js/ga.js' %}"></script>
  {% block extra_js %}{% endblock %}
</head>

<body>
{% block navbar %}
  {% include 'front/_navbar.html' %}
{% endblock %}
<div class="container">
  {% block content %}{% endblock %}
</div>
{% block content-without-container %}{% endblock %}
</body>

</html>
