{% extends "front/base.html" %}

{% load sanitizer %}\
{% load entitify %}

{% block content %}
<div class="title">
  <div class="container">
    <h1 class="text-primary">{{ mail.subject }}</h1>
      <div style="text-align: center">
        {{ mail.date | date:'Y/m/d P' }}
      </div>
    <div class="padding"></div>
  </div>
</div>


<div class="container detail-content">
    <fieldset>
        <legend><h4><small>{{ mail.sender }}</small></h4></legend>
            <p style="align-items: center">
              {% autoescape off %}{{ mail.contents | escape_html | entitify_paren }}{% endautoescape %}
            </p>
    </fieldset>
    <div class="padding"></div>
    <a class="btn back-btn" href="{% url 'web:list' %}" role="button">← 뒤로</a>
</div>

{% endblock %}
