{% extends 'front/base.html' %}
{% load staticfiles %}

{% block title_text %}쉿메일 - 조용합니다.{% endblock %}
{% block content %}
  <blockquote>
    <p>"sh8.email을 통해 편하게 메일을 받고 싶은데, 남들에게는 보여주고 싶지 않을 때가 있죠."</p>
    <footer>이 사람은 당신의 <cite title="가족, 형제, 친구">가족, 형제, 친구</cite>일 수도 있습니다</footer>
  </blockquote>

  <div class="jumbotron">
    <p>sh8.email만이 제공하는, 순간 비밀번호 생성 기능</p>
    <h1 class="text-center">쉿메일</h1>

  </div>

  <p class="lead">원하는 메일 주소 뒤에 마법의 __<sup>언더바 두개</sup>와 원하는 비밀번호를 붙여보죠.</p>
  <div class="well">
    <img class="img-responsive center-block" src="{% static 'web/image/wehavesecret1.PNG' %}" />
  </div>

  <p class="text-center lead">...</p>

  <h1 class="text-center">쨘.</h1>
  <div class="well">
    <img class="img-responsive center-block" src="{% static 'web/image/wehavesecret2.PNG' %}" />
  </div>

  <p class="lead">정말 쉽고 간편하죠?</p>

  <a type="button" role="button" class="btn btn-primary btn-lg btn-block"
     href="{% url 'front:intro' %}">인트로 화면으로 이동하기</a>

  <p></p>
{% endblock %}