{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title_text %}sh8.email{% endblock %}</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'front/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/bootstrap/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/bootstrap/css/bootstrap-custom.css' %}">

  {% block extra_css %}{% endblock %}

  <!-- jquery -->
  <script src="{% static 'front/jquery/jquery-2.1.4.min.js' %}"></script>

  <!-- bootstrap js -->
  <script src="{% static 'front/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Internal js components -->
  <script type="text/javascript" src="{% static 'front/js/forms.js' %}"></script>

  {% block extra_js %}{% endblock %}
</head>

<body>
{% block navbar %}
  {% include 'front/_navbar.html' %}
{% endblock %}
<div class="container">
  {% block content %}{% endblock %}
</div>
</body>

</html>
