{% extends "front/base.html" %}


{% block content %}
<div style="background-color:whitesmoke; text-align:center; align-items: center" >
<div class="container">

    <h1 class="text-primary">{{ mail.subject }} <small>{{ mail.recipient }}</small></h1>
    <div style="text-align: center">
        {{ mail.date | date:'Y/m/d P' }}
    </div>
    </div>
</div>

<div class="container">
    <fieldset>
        <legend style="border-color: #3c3c3c">Sender : {{ mail.sender }}</legend>
            <p style="align-items: center">{{ mail.contents | linebreaks }}
            </p>
    </fieldset>
</div>

{% endblock %}