{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sh8email-{{ mail.subject }} </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'front/bootstrap/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'front/bootstrap/css/bootstrap-theme.min.css' %}">

    <!-- jquery -->
    <script src="{% static 'front/jquery/jquery-2.1.4.min.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'front/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>

{% block content %}
    <div class="mail">
        <h1>{{ mail.sender }}</h1>
        {{ mail.date | date:'Y/m/d P' }}
        {{ mail.contents | linebreaks }}
    </div>

{% endblock %}


</body>

</html>