{% extends "front/base.html" %}


{% block content %}
<div class="title">
  <div class="container">
    <h1 class="text-primary">{{ mail.subject }} <small>{{ mail.recipient }}</small></h1>
      <div style="text-align: center">
        {{ mail.date | date:'Y/m/d P' }}
      </div>
    <div class="padding"></div>
  </div>
</div>


<div class="container detail-content">
    <fieldset>
        <legend>Sender : {{ mail.sender }}</legend>
            <p style="align-items: center">{{ mail.contents | linebreaks }}
            </p>
    </fieldset>
    <div class="padding"></div>
    <a class="btn back-btn" href="{% url 'front:list' %}" role="button">← 뒤로</a>
</div>

{% endblock %}
