{% extends 'front/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% endblock %}

{% block content %}
  <div class="top-margin-10em hidden-sm hidden-xs"></div>
  <div class="jumbotron">
    <h1 class="text-center">sh8.email</h1>
    <div class="panel panel-primary panel-top-margin">
      <div class="panel-heading">Nickname</div>
      <div class="panel-body">
        <div class="input-group">
          <form action="{% url 'checkin' %}" method="post" class="js-forms-submitform">
            <input type="text" class="form-control" placeholder="@sh8.email"
                   aria-label="확인할 메일 주소 앞자리를 입력해 주세요."
                   name="recipient">
            {% csrf_token %}
          </form>
          <span class="input-group-btn">
            <button class="btn btn-default js-forms-submitbutton" type="button">메일 확인</button>
          </span>
        </div>
      </div>
    </div>
    <div class="alert alert-dismissible alert-success">
      <strong><a href="#" class="alert-link">쉿 메일?</a></strong>
    </div>
  </div>
{% endblock %}