{% extends "front/base.html" %}


{% block content %}
  <div class="container sh8email-content">
    <div class="row">
        <div class="list-group">
        {% if not mail_list %}
            <div class="row">
              <div class="nomail">
                <div class="col-md-12">
                    수신한 메일이 없습니다.
                </div>
              </div>
            </div>
        {% else %}
            {% for mail in mail_list %}
                <a href="{% url 'front:detail' mail.id %}" class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">{{ mail.sender }}</div>
                        <div class="col-md-8">{{ mail.subject }}</div>
                        <div class="col-md-2">{{ mail.date | date:'Y/m/d P' }}</div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        </div>
    </div>
  </div>
{% endblock %}
