{% extends "front/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title_text %}
  {% if not recipient %}
    수신 이름을 입력하여 체크인을 해주세요.
  {% else %}
    {{ recipient }}@sh8.email
  {% endif %}
{% endblock %}

{% block content %}
  <div class="maillist-content-wrapper">
    {% if not recipient %}
      <div class="row">
        <div class="nomail">
          <div class="col-md-12">
              수신 이름을 입력하여 체크인을 해주세요.
          </div>
        </div>
      </div>
    {% elif not mail_list %}
      <div class="row">
        <div class="nomail">
          <div class="col-md-12">
            <h1 class="text-center">받은 메일이 없습니다.</h1>
            <img src="{% static 'front/image/mailbox-empty.jpg' %}" alt="받은 메일이 없습니다."
                 class="img-responsive center-block">
            <p class="text-center">Image from https://pixabay.com/photo-875232/</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="list-group maillist-content-list-group">
        {% for mail in mail_list %}
          <a class="list-group-item" href="{% url 'front:detail' mail.id %}" >
            <div class="row">
              <div class="col-md-11">
                <div class="row h4">
                  <div class="col-md-10">
                    {{ mail.sender }}
                    {% if mail.is_secret %}
                      <span class="glyphicon glyphicon-lock"></span>
                    {% endif %}
                  </div>
                  <div class="col-md-2 text-right">{{ mail.recip_date | naturaltime }}</div>
                </div>
                <div class="row h3">
                  <div class="col-md-12">
                    {{ mail.subject | truncatechars:50 }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    {{ mail.contents | striptags | truncatechars:200 }}
                  </div>
                </div>
              </div>
              <div class="col-md-1 text-right text-4em">&gt;</div>

{#              <div class="col-md-2 maillist-content-sender">{{ mail.sender }}</div>#}
{#              <div class="col-md-8 maillist-content-subject">{{ mail.subject }}</div>#}
{#              <div class="col-md-2 maillist-content-date">{{ mail.date | date:'Y/m/d P' }}</div>#}
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
