<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sh8email list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="row common__nav">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">sh8email</a>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
            <a href="#" class="list-group-item active">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">getogrand@gmail.com</div>
                    <div class="col-md-8">subjectsubjectsubjectsubjectsubjectsubjectsubject</div>
                    <div class="col-md-2">2016.01.01 17:17:17</div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>

</html>