{% extends "front/base.html" %}


{% block content %}
<div class="title">
<div class="container">

  <h1 class="text-primary">{{ mail.subject }} <small>{{ mail.recipient }}</small></h1>
  <div style="text-align: center">
      {{ mail.date | date:'Y/m/d P' }}
  </div>
  <div class="padding"></div>
</div>
</div>


<div class="container">
  <div class="jumbotron">
    <form class="js-forms-submitform" action="{% url 'front:detail' mail.pk %}" method="post">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="password" name="secret_code" class="form-control" placeholder="비밀코드를 입력해주세요!" aria-describedby="sizing-addon1">
          {% csrf_token %}
          <span class="input-group-btn">
            <button class="btn btn-default js-forms-submitbutton" type="submit">메일 보기</button>
          </span>
      </div>
    </form>
  </div>
  <div class="padding"></div>
  <a class="btn btn-primary" href="{% url 'front:list' %}" role="button" style="float:right">← BACK</a>
</div>

{% endblock %}