{% extends 'web/base.html' %}
{% load staticfiles %}
{% block extra_meta %}
    <meta name="description"
          content="가입없이 바로 받자! 메일을 받긴 해야 하는데 내 메일함이 더러워지는 것도 싫고, 메일 계정 하나 더 만들기도 귀찮죠? sh8.email은 가입없이, 아무 계정으로나 바로 메일을 받아볼 수 있습니다.">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="sh8.email">
    <meta name="twitter:title" content="sh8.email">
    <meta name="twitter:description"
          content="summary가입없이 바로 받자! 메일을 받긴 해야 하는데 내 메일함이 더러워지는 것도 싫고, 메일 계정 하나 더 만들기도 귀찮죠? sh8.email은 가입없이, 아무 계정으로나 바로 메일을 받아볼 수 있습니다.">
    <meta name="twitter:creator" content="Triple py">
    <meta name="twitter:image" content="https://sh8.email/{% static 'web/image/thumbnail.png' %}">

    <!-- Open Graph data -->
    <meta property="og:title" content="sh8.email"/>
    <meta property="og:type" content="site"/>
    <meta property="og:url" content="sh8.email"/>
    <meta property="og:image" content="https://sh8.email/{% static 'web/image/thumbnail.png' %}"/>
    <meta property="og:description"
          content="http://example.com/image.jpg가입없이 바로 받자! 메일을 받긴 해야 하는데 내 메일함이 더러워지는 것도 싫고, 메일 계정 하나 더 만들기도 귀찮죠? sh8.email은 가입없이, 아무 계정으로나 바로 메일을 받아볼 수 있습니다.">
    <meta property="og:site_name" content="sh8.email"/>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'web/css/intro.css' %}" media="screen" charset="utf-8">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content-without-container %}
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <form id="login" action="{% url 'checkin' %}" method="post" class="js-forms-submitform">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading intro-cover-title">sh8.email <sup><i>βeta</i></sup></h1>
            <p class="lead">
              <label class="intro-cover-subtitle" for="">세상에서 가장 조용한 이메일</label>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="input-group">
                  <div class="input-group input-group-lg">
                    <input type="text" name="recipient" id="recipient" class="form-control" placeholder="닉네임"
                           required="required" autofocus>
                    <span class="input-group-addon" id="basic-addon2">@sh8.email</span>
                  </div>
                  {% csrf_token %}
                </div>
              </div>
            </div>
            </p>
            <p class="lead"><!-- 공백을 위함 --></p>
            <p class="lead">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                  <button class="btn btn-lg btn-primary mailcheck js-forms-submitbutton">메일 확인</button>
                </div>
              </div>
            </p>
            <p class="lead">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                  <a href="{% url 'web:help' %}" class="btn btn-lg btn-default mailcheck">이게 뭐고, 어떻게 쓰는거죠?</a>
                </div>
              </div>
            </p>
            <a href="https://play.google.com/store/apps/details?id=org.triplepy.sh8email.sh8"><img class="playstore-img" src="{% static 'web/image/playstore_badge.png' %}" alt="Play Store에서 다운받기"></a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
