{% extends "web/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title_text %}
  {% if not recipient %}
    수신 이름을 입력하여 체크인을 해주세요.
  {% else %}
    {{ recipient }}@sh8.email
  {% endif %}
{% endblock %}

{% block content %}
  <div class="maillist-content-wrapper">
    {% if not recipient %}
      <div class="row">
        <div class="nomail">
          <div class="col-md-12">
              닉네임을 입력하여 체크인을 해주세요.
          </div>
        </div>
      </div>
    {% elif not mail_list %}
      <div class="row">
        <div class="nomail">
          <div class="col-md-12">
            <h3 class="text-center">({{ recipient }}@sh8.email)로 메일을 보내주세요</h3>
            <h1 class="text-center"><i class="fa fa-envelope" style="font-size:3.5em"></i></h1>
          </div>
        </div>
      </div>
    {% else %}
      <div class="list-group maillist-content-list-group">
        {% for mail in mail_list %}
          <a class="list-group-item" href="{% url 'web:detail' mail.id %}" >
            <div class="row">
              <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <div class="row">
                  <div class="col-md-10">
                    {{ mail.sender }}
                    {% if mail.is_secret %}
                      <span class="glyphicon glyphicon-lock"></span>
                    {% endif %}
                  </div>
                  <div class="col-md-2 text-right">{{ mail.recip_date | naturaltime }}</div>
                </div>
                <div class="row h4">
                  <div class="col-md-12">
                    {{ mail.subject | truncatechars:50 }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    {% if not mail.is_secret %}
                        {{ mail.contents | striptags | truncatechars:200 }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right deco-right-arrow">&gt;</div>

{#              <div class="col-md-2 maillist-content-sender">{{ mail.sender }}</div>#}
{#              <div class="col-md-8 maillist-content-subject">{{ mail.subject }}</div>#}
{#              <div class="col-md-2 maillist-content-date">{{ mail.date | date:'Y/m/d P' }}</div>#}
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
